.basket {
  margin: 0 0 0 16px;
  width: 320px;
  height: auto;

  box-shadow: var(--shadow-card);

  @media screen and (max-width: 960px) {
    display: none;
  }
}

.header {
  background-color: var(--bg-color-variation);
  padding: 16px;
}
