@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,900&family=Nunito:wght@200..1000&display=swap');

:root,
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Variables */
  --color-primary: #5f6c37;
  --color-secondary: #bc6c27;
  --color-tertiary: #28371a;
  --color-quaternary: #fdfadf;
  --color-quinary: #577590;

  --color-text: var(--color-tertiary);
  --color-text-secondary: var(--color-quaternary);

  --color-bg: var(--color-tertiary);
  --color-card-bg: #eef1e4;
  --color-modal-bg: white;

  --footer-height: 4em;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow-y: scroll;
  color: var(--color-text);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-size: cover;
  background-image: url('/img/bg.jpg');
  z-index: -1;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
button {
  font-family: 'Merriweather', serif;
  letter-spacing: -5%;
}

p,
span {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  letter-spacing: -0.04em;
}

input {
  font-family: 'Inter', sans-serif;
  height: 3em;
  border: 1px solid var(--color-tertiary);
  border-radius: 1em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1em;
  width: 4em;
}

.price {
  font-family: 'Inter', sans-serif;
  color: var(--color-secondary);
  font-weight: normal;
  letter-spacing: -0.1em;
  margin: 0;
  text-align: right;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}
