.menu {
  height: 64px;
  width: 100%;
  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 18px;
  margin: 0;
  padding: 14px 16px 14px 16px;

  div {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    text-align: center;
    flex: 1;
  }
}
